* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 612px;
    height: 356px;
    display: flex;
    background-color: #e27680;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 20px;
    font-size: 22px;
    filter: blur(0.5px);
}

.append {
    font-size: 18px;
    text-decoration-line: underline;
    text-underline-position: under;
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main ul {
    height: 300px;
    list-style-type: none;
    overflow-x: auto;
}

.main ul li {
    margin-bottom: 16px;
}

.todo_style {
    width: 576px;
    height: 80px;
    border-radius: 20px;
    background-color: #b4dbe5;
    position: relative;
}
.todo_style:hover {
    outline: 2px solid white;
    outline-offset: -2px;
}

.inputbox {
    width: 420px;
    height: 24px;
    margin-left: 50px;
    margin-top: 28px;
    font-size: 22px;
    position: absolute;
    color: black;
    background-color: #b4dbe5;
    border: none;
}

.inputbox:focus {
    border-bottom: 2px solid white;
    background-color: #4e8290;
    outline: none;
}

.todo_checkbox {
    position: absolute;
    top: 34px;
    left: 24px;
    z-index: 1;
}

.todo_delete {
    position: absolute;
    background: url('icon/delete.webp');
    background-position: center;
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 30px;
    right: 24px;
    z-index: 1;
}

.todo_edit {
    position: absolute;
    background: url('icon/edit.png');
    background-position: center;
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    top: 30px;
    right: 64px;
    z-index: 1;
}

/* 체크박스 on일 때 */
.todo_style.completed {
    filter: brightness(90%);
}

.inputbox.completed {
    text-decoration: line-through;
}
